<div class="banner">
  <h2>Sort your favourite movies</h2>
</div>

<div class="container">
  <h4>My Lists</h4>
  <div class="card-container">
    <% @lists.each do |list| %>
      <div class="card" style="background-image: url(https://i1.sndcdn.com/artworks-2L1Nark8HnoLuD1D-GfY1EA-t240x240.jpg);">
         <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
</div>


<%# <%= link_to "Create a new list", new_list_path %>
