.card-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 24px;
}

.card {
  background-size: cover;
  background-position: center;
  height: 200px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgb(82, 76, 76);
    text-align: center;
  }
}

.card-container-movie {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 24px;
  padding-top: 24px;
}

.card-movie {
  background-color: white;
  height: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display:flex;
  align-items: center;

  .movie-info {
    margin-left: 12px;
    margin-right: 8px;
    height: 280px;


    .info-header {
      display: flex;

      .title {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 24px;
      padding-bottom: 16px;
      }

      .rating {
        color:rgb(103, 100, 100);
        margin-left: 12px;
        font-size: 24px;
      }

      .fa-star {
        color: rgb(255, 255, 0);
        margin-left: 8px;
      }
    }

    .overview {
      color: rgb(103, 100, 100);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding-bottom: 16px;
      margin-top: 16px;
      font-size: 14px;
      height: 165px;
    }

    .info-footer {
      display: flex;
      position: relative;

      a {
        color: orange;
        position: absolute;
        right: 0;
      }
    }

    .fa-quote-left {
      font-size: 24px;
      margin-right: 8px;
    }

  }
}
